/*.closeIcon {*/
/*width: 20px;*/
/*height: 20px;*/
/*text-align: center;*/
/*display: block;*/
/*font-style: normal;*/
/*position: absolute;*/
/*right: 18px;*/
/*top: 18px;*/
/*cursor: pointer;*/
/*z-index: 99988;*/
/*box-sizing: border-box;*/
/*transition: all .2s;*/
/*}*/

/*>>> .el-dialog__header,*/
/*>>> .el-dialog__body,*/
/*>>> .el-dialog__footer {*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/

/*.clearFloat:after {*/
/*clear: both;*/
/*content: '';*/
/*display: block;*/
/*width: 0;*/
/*height: 0;*/
/*visibility: hidden;*/
/*}*/

.workBox .list::-webkit-scrollbar {
  width: 3px;
  background: #E7EEF9;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.workBox .list::-webkit-scrollbar-thumb {
  background-color: #CED8EA;
  width: 3px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

* {
  font-family: 'MicrosoftYaHei';
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0) !important;
  list-style: none;
  outline: none;
}

html, body {
  height: 100%;
}

/*设置文本不能被选中*/
.noSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*左浮动*/
.floatL {
  float: left;
}

/*右浮动*/
.floatR {
  float: right;
}

/*清除浮动代码*/
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0
}

.clearfloat {
  zoom: 1
}

[v-cloak] {
  display: none;
}

.calendarOption .el-select-dropdown__item.selected {
  color: #5996F8 !important;
}

.monthValuePicker{
  margin-top: 20px!important;
}

.monthValuePicker .el-month-table td .cell:hover, .el-month-table td.current:not(.disabled) .cell {
  color: #5996F8;
}


